<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <pre>data = {{data|json}}</pre>
<pre>form.value = {{form.value | json}}
form.valid = {{form.valid}}
form.invalid = {{form.invalid}}
form.pristine = {{form.pristine}}
form.dirty = {{form.dirty}}
form.touched = {{form.touched}}
form.untouched = {{form.untouched}}
form.enabled = {{form.enabled}}
form.disabled = {{form.disabled}}
form.errors = {{form.errors|json}}
f.submitted = {{f.submitted}}</pre>
                <form class="user" [formGroup]="form" #f="ngForm" (ngSubmit)="doSubmit()">

                  <ng-container formArrayName="accounts">

                      <ng-container *ngFor="let group of formArray('accounts').controls; let i=index" [formGroupName]="i">

                        {{i}}

                        <div class="form-group">
                          <input
                            type="email"
                            class="form-control form-control-user"
                            aria-describedby="emailHelp"
                            placeholder="Enter Email Address..."
                            formControlName="email"
                            [class.is-invalid]="isValidateForm('email', group) && group.get('email')?.invalid"
                            [class.is-valid]="isValidateForm('email', group) && group.get('email')?.valid"
                          />

                          <div *ngIf="isValidateForm('email', group) && group.get('email')?.invalid" [class.invalid-feedback]="group.get('email')?.invalid">
                            <ng-container *ngIf="group.get('email')?.errors?.['required']; else elseTemplate">
                              請輸入 E-mail 帳號
                            </ng-container>
                            <ng-template #elseTemplate>
                              請輸入合法的 E-mail 地址格式
                            </ng-template>
                          </div>

                        </div>
                        <div class="form-group">
                          <input
                            type="password"
                            class="form-control form-control-user"
                            placeholder="Password"
                            formControlName="password"
                            [class.is-invalid]="isValidateForm('password', group) && group.get('password')?.invalid"
                            [class.is-valid]="isValidateForm('password', group) && group.get('password')?.valid"
                          />

                          <div *ngIf="isValidateForm('password', group) && group.get('password')?.invalid" [class.invalid-feedback]="group.get('password')?.invalid">
                            <ng-container *ngIf="group.get('password')?.errors?.['required']; else elseTemplate2">
                              請輸入密碼
                            </ng-container>
                            <ng-template #elseTemplate2>
                              請輸入具有複雜度要求的密碼
                            </ng-template>
                          </div>

                        </div>

                      </ng-container>

                  </ng-container>

                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="customCheck"
                        formControlName="isRemember"
                      />
                      <label class="custom-control-label" for="customCheck"
                        >Remember Me</label
                      >
                    </div>
                  </div>

                  <button
                    type="button"
                    class="btn btn-default btn-user btn-block"
                    (click)="addNewAccount()"
                  >
                    新增帳號
                  </button>

                  <button
                    type="button"
                    class="btn btn-danger btn-user btn-block"
                    (click)="resetForm()"
                  >
                    重置表單
                  </button>

                  <button
                    class="btn btn-primary btn-user btn-block"
                  >
                    Login
                  </button>
                  <hr />
                  <a
                    href="index.html"
                    class="btn btn-google btn-user btn-block"
                  >
                    <i class="fab fa-google fa-fw"></i> Login with Google
                  </a>
                  <a
                    href="index.html"
                    class="btn btn-facebook btn-user btn-block"
                  >
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                  </a>
                </form>
                <hr />
                <div class="text-center">
                  <a class="small" href="forgot-password.html"
                    >Forgot Password?</a
                  >
                </div>
                <div class="text-center">
                  <a class="small" href="register.html">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
